{% extends 'base.html' %}

{% block content %}
<div class="min-h-screen flex items-center justify-center bg-gray-50 py-12 px-4 sm:px-6 lg:px-8">
  <div class="max-w-md w-full space-y-8">
    <div>
      <img class="mx-auto h-24 w-auto" src="../../assets/logo_thicker.svg" alt="Workflow">
      <h2 class="mt-6 text-center text-3xl font-extrabold text-gray-900">
        Change Password
      </h2>
    </div>

      <form action="/users/forgot_password" method="POST">
          {% csrf_token %}
          {{ form }}
          <button type="submit">Change Password</button>
      </form>
  </div>
</div>
{% endblock content %}